.profile__avatar-edit {
  /* top: 47px;
  left: 47px; */
  width: 26px;
  height: 26px;
  position: absolute;
  background: none;
  background-image: url("../../../images/editAvatar.png");
  background-repeat: no-repeat;
  background-position: 50%;
  border: none;
  align-self: center;
}

.profile__avatar-edit:hover {
  opacity: 1;
  cursor: pointer;
}
