.popup__button-save {
  border-radius: 2px;
  width: 358px;
  height: 50px;
  background-color: #000;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #fff;
  margin: 50px auto 0;
  padding: 0;
  border: none;
}

.popup__button-save:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 599px) {
  .popup__button-save {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 17px;
  }
}
