.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto 40px;
  padding-top: 45px;
  max-width: 880px;
  width: 100%;
  border-bottom: 1px solid #545454;
}

@media screen and (max-width: 879px) {
  .header {
    padding-top: 28px;
    margin-bottom: 42px;
  }
}
